---
import Layout from "../layout/Layout.astro";
import "../styles/global.css";
---
<Layout>
  <main>
    <h1>LINEUP 22-24 AUG 2024</h1>
    <h2>Thursday 22.</h2>
    <h3>Opening Hours: 18.00-01.00</h3>
    <h2>Friday 23.</h2>
    <h3>Opening Hours: 18.00-04.00</h3>
    <h2>Saturday 24.</h2>
    <h3>Opening Hours: 18.00-03.00</h3>
  </main>
</Layout>
<style>
	h1{color: white;}
    h2{color: wheat;}
    h3{color:#fff;}
</style>