---
export async function getStaticPaths() {
  const artists = await fetch(
    "https://sfjafeukemmdrumyuart.supabase.co/rest/v1/karussel",
    {
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmamFmZXVrZW1tZHJ1bXl1YXJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzUzOTksImV4cCI6MjA0NDIxMTM5OX0.8EgW5zS9C2qEtcvQMc-sTPbQibDD7SzUEONbYZDBNrk",
      },
    }
  ).then((res) => res.json());

  return artists.map((artist) => ({
    params: { artist: artist.slug }, // [artist]=artist.slug
    props: { artist }, // send al data med som props
  }));
}

const { artist } = Astro.props;
console.log(artist); // artist.name, artist.image osv.

import Layout from "../../layout/Layout.astro";
---

<Layout>
  <h1>{artist.artist}</h1>
  <img src={`/img/${artist.image}`} alt={artist.name} />
</Layout>

<style>
  h1 {
    color: antiquewhite;
  }
</style>
