<div>
  <article>
    <img src="public/img/anetha.webp" alt="Anetha" />
    <h1>Anetha</h1>
    <h3>Thursday 23 August 2024</h3>
  </article>
</div>
<style>
  div {
    gap: 1rem;
  }

  article {
    background-color: #dff8ff;
  }

  h1 {
    color: black;
  }
  h3 {
    color: #064556;
  }

  img {
    width: 200px;
  }
</style>
