---
import Button from "../components/Button.astro";
---

<!-- <footer>
  <img src="" alt="" />
  <div>
    <a href="https://www.facebook.com/karruselfest"
      ><img src="../img/facebook_icon.png" alt="facebook ikon" /></a
    >
    <a href=""><img src="" alt="instagram ikon" /></a>
    <a href=""><img src="" alt="soundcloud ikon" /></a>
    <p>Refshalevej 193, 1432 Copenhagen</p>
  </div>
  !-- knap --
  <Button variant="secondary">DOWNLOAD OUR APP</Button>
</footer> -->
<footer>
  <div class="grid_1-1-1">
    <div class="foten1">
      <a href="/index">
        <img class="footer_img" src="/karusell_logo.png" alt="logo" />
      </a>
    </div>
    <div class="gridf1">
      <p>
        <a href="https://www.instagram.com/karruselfest/"
          ><img src="/img/instagram-24.png" alt="instagram ikon" /></a
        >
        <a href="https://www.facebook.com/karruselfest"
          ><img src="/img/facbook_icon.png" alt="facebook ikon" /></a
        >
        <a href="https://open.spotify.com/user/karruselfest"
          ><img src="/img/spotify-24.png" alt="spotify ikon" /></a
        >
        <a href="https://www.youtube.com/@karruselcopenhagen557"
          ><img src="/img/youtube-24.png" alt="youtube ikon" /></a
        >
      </p>
    </div>

    <div class="gridf3">
      <!-- knap -->
      <Button variant="secondary">DOWNLOAD OUR APP</Button>
    </div>
  </div>
</footer>
<style>
  /********** FOOTER **********/
  * {
    box-sizing: border-box;
  }
  footer {
    background-color: #120524;
    gap: 150px;
    padding: 20px;
  }

  @media (min-width: 750px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .footer_img {
    width: 150px;
  }

  .foot1 {
    padding-bottom: 40px;
    padding: 20px;
  }

  .grid_1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
    justify-content: space-between;
    text-align: center;
  }

  .footerh {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 4rem;
    font-weight: 400;
  }

  .footlinks {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .foottext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    color: #f6ebd7;
  }
  p {
    color: white;
  }

  /********** FOOTER SLUT **********/
</style>

<!-- <style>
  footer {
    display: flex;
    justify-content: space-between;
  }
</style> -->
