---
import Button from "./Button.astro";
---

<header>
  <!-- logo -->
  <img src="" alt="karrusel logo" />

  <nav>
    <ul>
      <li>
        <a href="">TICKETS</a>
      </li>
      <li>
        <a href="">LINEUP</a>
      </li>
      <li><a href="">GALLERY</a></li>
      <li><a href="">MAP & FAQ</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    /* display: flexbox; */
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items:;
  }
  li {
    list-style: none;
  }
</style>
