---
import Button from "./Button.astro"
---
<header>
  <!-- logo -->
  <img src="" alt="" />

  <nav>
    <ul>
      <li>
        <a href="">TICKETS</a>
        <a href="">LINEUP</a>
        <a href="">GALLERY</a>
        <a href="">MAP & FAQ</a>
      </li>
    </ul>
  </nav>
</header>
